<a href="https://colab.research.google.com/github/kdChen07/Financial_Engineering/blob/main/MLEttfv2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import sympy as sp
import pandas as pd
import numpy as np
import math

In [2]:
df = pd.read_csv('data2.csv')      # 文件读取要确定好位置
df.insert(1, '天数', range(1,len(df)+1))

In [4]:
df1=df[1:10]

In [5]:
df1

        date  天数  TTF
1   2021/1/5   2  6.3
2   2021/1/6   3  6.1
3   2021/1/7   4  6.7
4   2021/1/8   5  7.1
5  2021/1/11   6  7.8
6  2021/1/12   7  8.7
7  2021/1/13   8  7.8
8  2021/1/14   9  7.4
9  2021/1/15  10  6.9

In [6]:
df

           date   天数   TTF
0      2021/1/4    1   6.9
1      2021/1/5    2   6.3
2      2021/1/6    3   6.1
3      2021/1/7    4   6.7
4      2021/1/8    5   7.1
..          ...  ...   ...
475  2022/11/21  476  35.4
476  2022/11/22  477  38.5
477  2022/11/23  478  39.5
478  2022/11/24  479  37.8
479  2022/11/25  480  38.7

[480 rows x 3 columns]

In [ ]:
def MLE(df1):
    a,q,w = sp.symbols('a q w')     # u,q表示均值和方差
    t = df['天数']
    s = df['TTF']
    # s0 = df.loc[450,'TTF']
    F = 0
    for i in range(1,len(df1)):
        f = sp.exp(( -(s[i]-sp.exp(-a*1)*s[i-1]-(w/a)*(1-sp.exp(-a*1)))**2)/((s[i-1]*(q**2))/a)*(1-sp.exp(-2*a*1)))/((sp.sqrt(np.pi*(q**2)*s[i-1]))/a)*(1-sp.exp(-2*a*1))
        # f = sp.exp( -(np.log10(s[i]) - np.log10(s0) - (u - 0.5* q**2)* t[i])**2 / (2* q**2 * t[i]) ) / (np.sqrt(2 * np.pi * t[i]) * q * s[i])
        F = F + sp.log(f)
    logF = sp.expand_log(F)
    logF_a = sp.diff(logF,a)
    logF_q = sp.diff(logF,q)
    logF_w = sp.diff(logF,w)
    result = sp.solve([logF_a, logF_q, logF_w],[a, q, w])
    return result
result = MLE(df1)
print(result)